.section {
  width: 100%;
  position: relative;
  padding: 50px 0;

  &-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.25em;
    color: #333333;
    font-weight: 300;
  }


  h2 {
    font-size: 48px;
    line-height: 1.25em;
    color: #fff;
    text-transform: none;
    font-weight: 300;
    margin-bottom: 22px;
  }

  p {
    color: #fff;
    font-size: 18px;
    line-height: 1.33em;
    margin: 0 0 33px;
  }

  .button {

    &.cyan {
      width: 270px;

      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        background: url(../images/button-arrow.png) left center no-repeat;
        right: 25px;
        top: calc(50% - 5px);

        @include transition(ease .35s right);
      }
    }

    &.black {
      width: 200px;
    }
  }

  .content-wrap {
    z-index: 2;
    position: relative;
    @include flexbox();
    align-items: center;
    height: 100%;
  }

  .intro-text {
    max-width: 580px;

    &_right {
      margin-left: auto;
    }

    &_left {
      margin-right: auto;
    }

    img,
    svg {
      width: 95px;
    }

    p {
      font-size: 18px;
      line-height: 1.25em;
      color: #fff;
    }
  }
}
