.footer {
  margin: 0;
  padding: 80px 0;

  &-menu,
  &-contacts {
    display: none;
  }

  .content-wrap > div {
    width: 100%;
    text-align: center;
  }

  .desk-hide {
    display: block;
    text-align: center;
  }
}
