.footer
  .content-wrap
    .footer-menu
      span Меню
      ul
        li
          a(href="/dist/text_page.html") О нас
        li
          a(href="/dist/text_page.html") Гарантии
        li
          a(href="/dist/text_page.html") Доставка и оплата
        li.highlighted
          a(href="/dist/text_page.html") Оптовые закупки
        li
          a(href="/dist/text_page.html") Партнеры
        li
          a(href="/dist/text_page.html") Контакты
    .footer-contacts
      span Контакты
      ul
        li
          p ИП Олейников Станислав Николаевич
        li
          p ИНН 614314864410
        li
          p ОГРНИП 316470400096611
        li
          p concepticdesign@gmail.com
        li
          p whatsapp: +7 (921) 900-90-01
      .socials.mob-hide
        a.youtube(href="javascript:void(0)")
        a.facebook(href="javascript:void(0)")
        a.vk(href="javascript:void(0)")
        a.insta(href="javascript:void(0)")

    .footer-address
      span.mob-hide Адрес
      ul
        li.mob-hide
          p Офис Conceptic Design:

        li
          p Адрес: 188691, Ленинградская обл.,

        li
          p Всеволожский р-н, г. Кудрово,

        li
          p ул. Центральная, д. 37.

        li
          p Телефон: +7 (812) 495-49-00

        li
          p Время работы: пн-пт 12:00 - 19:00.
  .socials.desk-hide
    a.youtube(href="javascript:void(0)")
    a.facebook(href="javascript:void(0)")
    a.vk(href="javascript:void(0)")
    a.insta(href="javascript:void(0)")
