.header.header_big
  .content-wrap
    .menu-btn.desk-hide
      span
      span
      span
    .logo
      a(href="/dist/index.html")
        img(src="./assets/images/logo.svg", alt="logo")
    .navigation
      ul
        li
          a(href="/dist/text_page.html") О нас
        li
          a(href="/dist/catalogue.html") Каталог
        li
          a(href="/dist/text_page.html") Гарантии
        li
          a(href="/dist/text_page.html") Доставка и оплата
        li
          a(href="/dist/text_page.html") Оптовые закупки
        li
          a(href="/dist/text_page.html") Партнеры
        li
          a(href="/dist/text_page.html") Контакты
      .phone.desk-hide
        p +7 (812) 495-49-00
    .user-holder
      .socials.mob-hide
        a.youtube(href="javascript:void(0)")
        a.facebook(href="javascript:void(0)")
        a.vk(href="javascript:void(0)")
        a.insta(href="javascript:void(0)")
      
      a.login(href="/dist/profile.html") Войти
      a.cart(href="/dist/cart.html")
        span.cart-notify 2
  .info-wrap
    .content-wrap
      h1 Conceptic design
      h3 Кальяны и аксессуары
      p Минималистичный дизайн, гарантия качества и внимание к деталям
      a.button.cyan(href="/dist/catalogue.html") Выбрать свой
