.thanks {

  .content-title {
    margin: 80px 0 30px;
    padding-top: 100px;
    background: url(../images/icons/thumb-up.svg) center top no-repeat;
    background-size: 77px;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
