section.section.section_accessorie
  .section-title
    | Аксессуары
  .content-wrap
    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/aluminium_basic.png", alt="")
      .accessorie-description
        a(href="/dist/product.html")
          | Шахта из нержавеющей
          br
          | стали
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее

    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/uneed_gray.png", alt="")
      .accessorie-description
        a(href="/dist/product.html")
          | Колба Uneed
          br 
          | Craft
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее

    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/saucer.png", alt="")
      .accessorie-description
        a(href="/dist/product.html") 
          | Conceptic ashtray/
          br
          | Блюдце
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее

    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/mouthpiece.png", alt="")
      .accessorie-description
        a(href="/dist/product.html")
          | Conceptic
          br 
          | mouthpiece
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее

    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/diffuser.png", alt="")
      .accessorie-description
        a(href="/dist/product.html")
          | Съемный
          br 
          | диффузор
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее

    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/hose.png", alt="")
      .accessorie-description
        a(href="/dist/product.html") 
          | Conceptic
          br 
          | silicon hose
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее

    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/seal_set.png", alt="")
      .accessorie-description
        a(href="/dist/product.html") 
          | Conceptic 
          br 
          | seal set
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее

    .accessorie-item
      a.image(href="/dist/product.html")
        img(src="assets/images/accessories/mouthpiece_set.png", alt="")
      .accessorie-description
        a(href="/dist/product.html") 
          | Conceptic 
          br 
          | mouthpiece
        span 7000 руб.
      a.button.black(href="/dist/product.html") Подробнее
