section.section.section_intro.section_intro__design
  .content-wrap
    //- .image
      //- img(src="assets/images/bg/bg-image1-2.png", alt="design examples")
    .intro-text.intro-text_right
      img(src="assets/images/icons/logo_icon.svg", alt="logo icon")
      p Каждый кальян из нашей коллекции — это демонстрация бескомпромисного качества с использованием передовых материалов. Мы стремимся создавать лучшие продукты благодаря возможностям современного мира и традиционного мастерства.

