section.section.section_intro.section_intro__future
  .content-wrap
    .intro-text.intro-text_left
      h2 Будущее уже здесь
      p Возьми лучшее из нашего мира в свой
      a.button.cyan(href="/dist/catalogue.html") Выбрать свой
    .image
      img(src="assets/images/bg/bg-image2.png", alt="design examples")

