section.section.section_hookah
  #hookah-scroll.content-wrap
    .hookah-item
      .image.desk-hide
        img(src="./assets/images/accessories/saucer.png", alt="")
      h3 Блюдце
      //- span Conceptic ashtray
      p Черное высокотемпературное покрытие, из нержавейки с толщиной стенки 1,5 мм., наружный диаметр 200 мм.
    .hookah-item
      .image.desk-hide
        img(src="./assets/images/hookah/1.png", alt="")
      h3 Декор
      p Шахта из нержавеющей стали AISI304, с внутренним диаметром 13 мм. Общая длина шахты составляет 65 см. Ни один из используемых материалов в конструкции кальяна не подвергается коррозии.
    .hookah-item
      .image.desk-hide
        img(src="./assets/images/accessories/uneed_gray.png", alt="")
      h3 Колба
      //- span Колба Unned Craft
      p вес 1,2 кг., высота 280 мм., диаметр 180/140 мм., внутренний/внешний диаметр горловины 45/70мм., на дне колбы вставка для подсветки.
    .hookah-item
      .image.desk-hide
        img(src="./assets/images/accessories/mouthpiece.png", alt="")
      h3 Мундштук
      //- span Conceptic mouthpiece
      p мундштук изготовлен из пишевой нержавейки, разбирается на две части по 155мм., ручка из шланга soft-touch с эффектом антистатик.
