section.section.section_instagram
  .section-title
    | Мы в Instagram
  .content-wrap
    -for (i = 0; i < 8; i++)
      a.instagram-item(href="javascript:void(0)")
        img(src="assets/images/instagram/image" + (i + 1) + ".jpg", alt="instagram image" + (i + 1))
