section.section.section_intro.section_intro__interior
  .content-wrap
    .intro-text.intro-text_right
      h2 Conceptic design — это все еще кальян, но уже предмет интерьера
      a.button.cyan(href="/dist/text_page.html") Смотреть в интерьере
