section.section.section_offers
  .content-wrap
    .content-title
      span Вам может понравиться
    .offers-slider
      .offers-item
        a.image(href="/dist/product.html")
          img(src="assets/images/offers/offer1.png", alt="")
        a(href="/dist/product.html") Conceptic green carbon
        p 7000 руб.
        a.button.black(href="/dist/product.html") Подробнее
      .offers-item
        .discount 5%
        a.image(href="/dist/product.html")
          img(src="assets/images/offers/offer2.png", alt="")
        a(href="/dist/product.html") Conceptic metal
        p 7000 руб.
        a.button.black(href="/dist/product.html") Подробнее
      .offers-item
        a.image(href="/dist/product.html")
          img(src="assets/images/offers/offer3.png", alt="")
        a(href="/dist/product.html") Conceptic red carbon
        p 7000 руб.
        a.button.black(href="/dist/product.html") Подробнее
      .offers-item
        .discount 10%
        a.image(href="/dist/product.html")
          img(src="assets/images/offers/offer4.png", alt="")
        a(href="/dist/product.html") Conceptic yellow carbon
        p 7000 руб.
        a.button.black(href="/dist/product.html") Подробнее


