section.section.section_partners.desk-hide
  .section-title
    | Список партнеров
  .content-wrap
    
    each item in ["«Мир Дыма» ООО", "«Кальянзапчасть» ООО", "Марон", "«Мир Дыма» ООО"]
      .partners-item
        span=item
        p г. Самара, ул. Товарная, 24-В 
        p Тел./Факс (846) 979-66-77, 979-68-60 
        p e-mail: rost@hippo.ru
        
