section.section.section_intro.section_intro__quality
  .content-wrap
    .intro-text.intro-text_left
      h2 Бескомпромиссное качество
      p Каждый кальян из нашей коллекции — это демонстрация бескомпромиссного качества с использованием передовых материалов.
      a.button.cyan(href="/dist/text_page.html") Наши гарантии

