section.section.section_reviews
  .content-wrap.content-wrap__full-width
    .content-title
      span Отзывы

    .reviews-slider
      .reviews-item
        .photo
          img(src="assets/images/reviews/photo1.png", alt="")
        .reviews-info
          .date
            | 01.03.2019
          .name
            | Татьяна Орлова
        .reviews-scroll
          p Отличный магазин, адекватные цены, все в наличии, удачное расположение для самовывоза, буду заказывать еще, спасибо! Отличный магазин, адекватные цены, все в наличии, удачное расположение для самовывоза, буду заказывать еще, спасибо!Отличный магазин, адекватные цены, все в наличии, удачное расположение для самовывоза, буду заказывать еще, спасибо!Отличный магазин, адекватные цены, все в наличии, удачное расположение для самовывоза, буду заказывать еще, спасибо!
      .reviews-item
        .photo
          img(src="assets/images/reviews/photo2.png", alt="")
        .reviews-info
          .date
            | 01.03.2019
          .name
            | Кирилл Сечин
        .reviews-scroll
          p Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон)))
      .reviews-item
        .photo
          img(src="assets/images/reviews/photo2.png", alt="")
        .reviews-info
          .date
            | 01.03.2019
          .name
            | Кирилл Сечин
        .reviews-scroll
          p Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон)))
      .reviews-item
        .photo
          img(src="assets/images/reviews/photo2.png", alt="")
        .reviews-info
          .date
            | 01.03.2019
          .name
            | Кирилл Сечин
        .reviews-scroll
          p Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон)))
