section.section.section_video
  .section-content
    video.video(
      autoplay
      loop
      muted)
      source(src="./assets/video/conceptic.mp4")

    .content-wrap
      .intro-text.intro-text_left
        h2 Youtube
        p Смотреть наш канал на Youtube
        a.button.cyan(href="javascript:void(0)") Cмотреть
      a.play-button(href="https://www.youtube.com/watch?v=2Qxg_z1Vg7U" target="blank")
