section.section.section_view
  .content-wrap
    .view-360
      img(src="./assets/images/360view.jpg", alt="")
    .view-text
      span Кальян о котором говорят
      p Дизайнерский кальян в tech стиле.
      p Легкий, надежный, стильный.

      .section-title.desk-hide
        | Отзывы
      .view-reviews
        .reviews-item
          .photo
            img(src="assets/images/reviews/photo2.png", alt="")
          .reviews-info
            .date
              | 01.03.2019
            .name
              | Кирилл Сечин
          .reviews-scroll
            p Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон))) Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон))) Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон)))
        .reviews-item
          .photo
            img(src="assets/images/reviews/photo2.png", alt="")
          .reviews-info
            .date
              | 01.03.2019
            .name
              | Кирилл Сечин
          .reviews-scroll
            p Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон)))
        .reviews-item
          .photo
            img(src="assets/images/reviews/photo2.png", alt="")
          .reviews-info
            .date
              | 01.03.2019
            .name
              | Кирилл Сечин
          .reviews-scroll
            p Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон)))
        .reviews-item
          .photo
            img(src="assets/images/reviews/photo1.png", alt="")
          .reviews-info
            .date
              | 01.03.2019
            .name
              | Кирилл Сечин
          .reviews-scroll
            p Решил купить кальян для домашних посиделок, но вообще не понимал что к чему, на сайте все объяснили и рассказали, доволен как слон)))
      a.button.black(href="#hookah-constructor") Собрать свой
