doctype html
html(lang="en")
  include ../base/_head
  body
    
    block wrapper
      .wrapper
        block header
          include ../base/_header

        block container

      block footer
        include ../base/_footer

  script(src="vendor/js/jquery-1.11.3.min.js")
  script(src="vendor/js/jquery-ui.min.js")
  script(src="vendor/js/jquery.fancybox.min.js")
  script(src="vendor/js/slick.min.js")
  script(src="vendor/js/select2.min.js")
  script(src="assets/js/main.js")
