.section_hookah {

  .content-wrap {
    padding: 50px 20px;
    background-image: url(../images/hookah_scroll-tablet.jpg);
  }
}

.hookah-item {

  &:nth-child(1) {
    margin-top: 0;
  }

  &:nth-child(2) {
    margin-top: 0;
    position: absolute;
    top: 25%;
    left: 20px;
  }

  &:nth-child(3) {
    position: absolute;
    bottom: 100px;
    right: 20px;
  }

  h3 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  span {
    font-size: 24px;
  }
}
