extends ../_layout

block wrapper
  .wrapper.error-page

    block header
      include ../../base/_header

    block container
      .container
        .error-text Страница не найдена

  block footer
    include ../../base/_footer
