extends ../_layout

block container
  .page.text-page
    .content-wrap
      .breadcrumbs
        ul
          li
            a(href="/dist/index.html") Главная
          li
            span /
          li
            span Текстовая страница
      .content-title
        span Conceptic Design
        p Каждый кальян из нашей коллекции - это демонстрация бескомпромиссного качества с использованием передовых материалов. Мы стремимся создавать лучшие продукты благодаря возможностям современного мира и традиционного мастерства. Будущее уже здесь. Возьмите лучшее из нашего мира в свой.
      .content-text
        .hookah-description
          .specifications
            h2 Характеристики кальяна
            ol
              li
                p Шахта AISI304, D13 мм.

              li
                p Блюдце D200 мм.

              li
                p Мундштук AISI304, D10 мм с рукояткой из силикона, длина 300 мм.

              li
                p Шланг soft-touch с эффектом антистатик 11/15 мм., длина 1,5 м.

              li
                p O-ring соединение клапана и коннектора шланга.

              li
                p Набор уплотнителей (шахта-колба, шахта-чашка).

              li
                p Съемный диффуор 12 мм.

              li
                p Вес шахты 850 гр.

              li
                p Высота в сборе 650 мм. (на колбе 700 мм.)
            a.button.black(href="/dist/product.html") Купить
          .image
            img(src="assets/images/hookah-image.jpg", alt="hookah image")
        .guarantee-text
          h2 Гарантии 
          p Уважаемые пользователи! Мы заботимся о качестве реализуемой продукции, стремимся дать вам только лучшее качество и спешим вас оповестить.
          p Все кальяны, приобретенные в интернет-магазине имеют фирменную гарантию. Срок гарантийного обслуживания - 12 месяцев. Если вдруг ваш кальян перестал исполнять свои прямые обязанности ввиду заводских дефектов, то мы обменяем вам вышедшую из строя деталь, либо, если того будет требовать ситуация, заменим сам кальян. Проведем полную диагностику и ремонт изделия.
          p Мы заботимся о качестве своей продукции, поэтому для удобства наших клиентов все товары, реализуемые интернет-магазином, проходят полную предпродажную подготовку, которая включает в себя:
          ul
            li
              p Тщательный внешний осмотр. Проверка кальянов нашими специалистами сводит к минимуму наличие мелких потертостей и недоработок. Однако, большинство кальянов изготавливается вручную, поэтому наличие мелких изъянов считается нормальным явлением
            li
              p Проверка работоспособности и герметичности кальяна. Специалистами нашего интернет-магазина проводится полный комплекс мер по проверке технических особенностей кальянов. Проверяется герметичность шахты, все соединения, стыки, порты.
        .content-info
          .content-info_item
            .image
              img(src="assets/images/icons/security.svg", alt="")
            span Наши гарантии
            p Гарантия 6 месяцев. Вы гарантировано в течении 2-ух недель после покупки, можете обменять или вернуть любой товар, купленный в нашем магазине, при условии сохранения упаковки и товар не должен быть бывшим в употреблении.
          .content-info_item
            .image
              img(src="assets/images/icons/delivery-truck.svg", alt="")
            span Доставка
            p Гарантия 6 месяцев. Вы гарантировано в течении 2-ух недель после покупки, можете обменять или вернуть любой товар, купленный в нашем магазине.
          .content-info_item
            .image
              img(src="assets/images/icons/tag.svg", alt="")
            span Акции
            p Уровень скидки зависит от суммы покупок произведенных по карте лояльности за все время:
              br
              | до 10 000 руб - 5%
              br
              | от 10 000 руб | до 15 000 руб - 7%
              br
              | от 15 000 руб до 25 000 руб - 10%
              br
              | от 25 000 руб до 50 000 руб - 13%
              br
              | от 50 000 руб - 15%
        .content-downloads
          .content-downloads_item
            a.image(href="javascript:void(0)")
              img(src="assets/images/icons/pdf.svg", alt="", style="width: 60px;")
            p
              a(href="javascript:void(0)") Оптовый прайс в pdf
          .content-downloads_item
            a.image(href="javascript:void(0)")
              img(src="assets/images/icons/files.svg", alt="", style="width: 48px;")
            p
              a(href="javascript:void(0)") Скачать файлы
          .content-downloads_item
            a.image(href="javascript:void(0)")
              img(src="assets/images/icons/picture.svg", alt="", style="width: 60px;")
            p
              a(href="javascript:void(0)") Фото для прессы
