extends ../_layout

block container
  .page.thanks
    .content-wrap
      .breadcrumbs
        ul
          li
            a(href="/dist/index.html") Главная
          li
            span /
          li
            span Оформление заказа
          li
            span /
          li
            span Благодарность
      
      .content-title
        span Спасибо Олег!
      p В скором времени на указанный вами e-mail поступит уведомление о статусе вашего заказа.
      p Для изменения или дополнения заказа, вы сможете связаться с нашим менеджером по номеру +7 (921) 900-90-01.

  include ../../components/_offer
