.form {

  &-block {

    &__customer-info,
    &__delievery-info {
      width: 100%;
    }
    
    &__delievery-info {
      margin: 40px 0 0;
    }

    .button {
      max-width: 275px;
    }
  }

  &-map {
    width: 100%;
  }

  &_sub-block {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding-right: 10px;
    margin-bottom: 30px;

    &:first-child {
      width: 100%;
    }
  }
}
